{% extends 'LichessBundle::layoutCommon.html.twig' %}

{% block menu_active %}play{% endblock %}

{% block content %}
<div class="clearfix lichess_homepage">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_white.html.twig" %}
        <div class="hooks_wrap">
            <div class="hooks" data-url="{{ path('lichess_hook_poll') }}">
                Loading...
            </div>
        </div>
    </div>
    {% include "LichessOpeningBundle::startButtons.html.twig" %}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessOpeningBundle/Resources/public/css/opening.css'
    '@LichessOpeningBundle/Resources/public/css/hook.css'
    filter="?yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessOpeningBundle/Resources/public/js/opening.js'
    '@LichessOpeningBundle/Resources/public/js/hook.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
