{% extends "LichessBundle::layoutCommon.html.twig" %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset("bundles/lichess/css/timeline.css") }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/lichess/js/timeline.js") }}"></script>
{% endblock %}
{% block title_suffix %} Timeline{% endblock %}
{% block content %}
<div class="content_box timeline_box">
    <div class="timeline_filters">
        <a class="easy_button active" data-filter="entry">All</a>
        <a class="easy_button" data-filter="game_mate">Checkmates</a>
        <a class="easy_button" data-filter="forum_post">Forum</a>
        <a class="easy_button" data-filter="comment_game">Comments</a>
    </div>
    <h1 class="lichess_title">Timeline</h1>
    <ol class="timeline_entries" data-url="{{ path("lichess_timeline_inner") }}">
        {% render "LichessBundle:Timeline:inner" %}
    </ol>
</div>
{% endblock %}
{% block menu_active %}timeline{% endblock %}
