{% extends "LichessBundle::layoutCommon.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/lichess/css/lichess.css' %}
{% endblock %}
{% block body %}
<div class="header">
    <h1><a class="site_title" href="{% path 'lichess_homepage' %}">Lichess</a></h1>
    <div class="lichess_goodies_wrap">
        {% block goodies %}{% endblock %}
    </div>
    <div class="lichess_chat_wrap">
        {% block chat %}{% endblock %}
    </div>
</div>
<div id="lichess">
    {% block content %}{% endblock %}
</div>
{% endblock %}
{% block top_menu %}
<a title="{% trans "Toggle sound" %}" href="{% path "lichess_toggle_sound" %}" id="sound_state" class="sound_state_{{ _view.session.get('lichess.sound.enabled') ? 'on' : 'off' }}"></a>
<div class="lichess_language">
    <span>{{ _view.locale.localeName }}</span>
    <ul class="lichess_language_links">
        {% set localePath %}
            {% path "lichess_locale" with ["locale": "__"] %}
        {% endset %}
        {% for code, name in _view.locale.otherLocales() %}
            <li><a lang="{{ code }}" href="{{ localePath|replace(["__": code]) }}">{{ name }}</a></li>
        {% endfor %}
        <li><a href="{% path "lichess_translate" %}">Help translate Lichess!</a></li>
    </ul>
</div>
{% parent %}
{% endblock %}
