<!DOCTYPE html>
<html lang="{{ app.session.locale }}">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>lichess {% block title %}{% endblock %} | {{ "Free Online Chess"|trans }}</title>
        {% block stylesheets %}
            {% stylesheets
                '@LichessBundle/Resources/public/css/reset.css'
                '@LichessBundle/Resources/public/css/tipsy.css'
                '@LichessBundle/Resources/public/css/jquery-ui.css'
                '@LichessBundle/Resources/public/css/common.css'
                '@LichessBundle/Resources/public/css/board.css'
                '@LichessBundle/Resources/public/css/gamelist.css'
                '@LichessBundle/Resources/public/css/share.css'
                '@LichessBundle/Resources/public/css/tooltip.css'
                '@LichessOpeningBundle/Resources/public/css/opening.css'
                '@LichessOpeningBundle/Resources/public/css/hook.css'
                filter="?yui_css"
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <meta content="{{ "Free online Chess game. Play Chess now in a clean interface. No registration, no ads, no plugin required. Play Chess with computer, friends or random opponents."|trans }}" name="description">
        <meta content="Chess, Chess game, play Chess, online Chess, free Chess, quick Chess, anonymous Chess, opensource, PHP, JavaScript Chess, HTML5 Chess, artificial intelligence" name="keywords">
        <meta content="{% block robots %}index, follow{% endblock %}" name="robots">
        {% block feed_link %}{% endblock %}
        <meta name="google-site-verification" content="fZ08Imok7kcLaGcJg7BKQExO6vXGgSgsJUsW6JalUCo" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    </head>
    <body data-sound-enabled="{{ lichess_user_setting('sound', true) ? 'on' : 'off' }}" data-sound-file="{{ asset('bundles/lichess/sound/alert.ogg') }}">
        <div id="site_description">{{ "Free online Chess game. Play Chess now in a clean interface. No registration, no ads, no plugin required. Play Chess with computer, friends or random opponents."|trans }}</div>
        <div id="top" class="clearfix">
            <div id="connectivity" class="tipsyme" title="{{ "Network"|trans }}"></div>
            <a title="{{ "Toggle sound"|trans }}" href="{{ path("lichess_toggle_sound") }}" id="sound_state" class="available sound_state_{{ lichess_user_setting('sound', true) ? 'on' : 'off' }}"><span></span></a>
            <div class="lichess_language">
                <a class="toggle_language toggle"><span class="s16">{{ lichess_locale_name(app.session.locale) }}</span></a>
                <ul class="lichess_language_links">
{% for url, name in lichess_locales(app.request) %}<li><a href="{{ url }}">{{ name }}</a></li>{% endfor %}
                <li><a href="{{ path("lichess_translation_contribution") }}">Help translate Lichess!</a></li>
                </ul>
            </div>
            <a href="{{ path("lichess_board_color") }}" class="colorpicker" data-color="{{ lichess_user_setting("color", "brown") }}">{{ "Color"|trans }}</a>
            {% set active = block("menu_active") %}
            <a class="goto_play goto_nav blank_if_play{{ active == "play" ? " current" : "" }}" href="{{ path("lichess_homepage") }}">{{ "Play"|trans }}</a>
            <a class="goto_gamelist goto_nav blank_if_play{{ active == "game" ? " current" : "" }}" title="{{ "See the games being played in real time"|trans }}" href="{{ path("lichess_list_current") }}">{{ "Games"|trans }}</a>
            <a class="goto_userlist goto_nav blank_if_play{{ active == "user" ? " current" : "" }}" title="{{ "Chess players"|trans }}" href="{{ path("fos_user_user_list") }}">{{ "People"|trans }}</a>
            <a class="goto_forum goto_nav blank_if_play{{ active == "forum" ? " current" : "" }}" title="{{ "Talk about chess and discuss lichess features in the forum"|trans }}" href="{{ path("herzult_forum_index") }}">{{ "Forum"|trans }}</a>
            {% block top_security %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="goto_nav goto_message blank_if_play{{ active == "message" ? " current" : "" }}" href="{{ path("ornicar_message_inbox") }}">
                    {{ "Inbox"|trans }}
                    <span id="nb_messages" class="new_messages{{ ornicar_message_nb_unread() > 0 ? " unread" : "" }}">{{ ornicar_message_nb_unread() }}</span>
                </a>
            {% endif %}
            <div id="nb_connected_players" class="nb_connected_players">
                {{ "%nb% connected players"|trans({"%nb%": lichess_nb_active_players()}) }}
            </div>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="security">
                    <a class="goto_nav goto_logout" href="{{ path("fos_user_security_logout") }}"><span class="s16">{{ "Log out"|trans }}</span></a>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}<a class="goto_nav" href="{{ path("lichess_homepage", {"_impersonate": "_exit" }) }}">Stop Impersonating</a>{% endif %}
                </div>
                <a id="user_tag" data-username="{{ app.user.usernameCanonical }}" data-elo="{{ app.user.elo }}" href="{{ path("fos_user_user_show", {"username": app.user.username} ) }}" class="blank_if_play goto_nav goto_profile"><span class="s16">{{ app.user.usernameWithElo }}</span></a>
            {% else %}
                {% include "FOSUserBundle:Security:embeddedLogin.html.twig" %}
            {% endif %}
            {% endblock %}
        </div>
        <div class="content">
            <div class="header">
                <h1>
                    <a id="site_title" href="{{ url('lichess_homepage') }}">lichess<span class="extension">.org</span></a>
                    {% block site_baseline %}{% endblock %}
                </h1>
{% if false %}
<div class="translation_block">
<span class="name">Maintenance scheduled</span>
Lichess.org will be down in a few minutes!
<br />
<a class="close">x</a>
</div>
{% endif %}
                {% if app.session.hasFlash("locale_missing") %}{% render "LichessTranslationBundle:Contribution:onMissing" with{"locale": app.session.getFlash("locale_missing")} %}
                {% elseif app.session.getFlash("locale_change_contribute", "en") != "en" %}{% render "LichessTranslationBundle:Contribution:onChange" with{"locale": app.session.locale} %}
                {% elseif app.session.getFlash("locale_change_adjust") %}
                <div class="locale_adjust"><a class="button" href="{{ lichess_locale_url(app.session.getFlash('locale_change_adjust'), app.request) }}">{{ lichess_locale_name(app.session.getFlash('locale_change_adjust')) }}</a></div>
                {% endif %}
                <div class="lichess_goodies_wrap">{% block goodies %}{% endblock %}</div>
                <div class="lichess_chat_wrap">{% block chat %}{% endblock %}</div>
            </div>
            <div id="lichess">
                {% block layout_content %}{% endblock %}
            </div>
        </div>
        <div class="footer_wrap">
          <div class="lichess_social">
            <div class="addtochrome"><a class="button" href="https://chrome.google.com/webstore/detail/kiefmccciemniajdkgikpnocipidaaeg">Add To Chrome</a></div>
            <br />
          </div>
            <div class="footer">
                <div class="right">
                    <a href="http://github.com/ornicar">github.com/ornicar</a> | <a class="js_email">email me</a><br />
                    <a href="{{ path("lichess_about") }}" class="blank_if_play">{{ "Learn more about Lichess"|trans }}</a>
                </div>
                <a href="{{ path("lichess_wiki_index") }}">Wiki</a> |
                <a href="{{ path("herzult_forum_category_show", {"slug": "lichess-feedback"} ) }}" title="Having a suggestion, feature request or bug report? Let me know">Feedback</a> |
                <a href="http://github.com/ornicar/lila" target="_blank" title="See what's inside, fork and contribute">Source Code</a><br />
                <a href="{{ path("lichess_translation_contribution") }}">Translate Lichess</a>
            </div>
        </div>
        {% block js_data %}{% endblock %}
        {% block javascripts %}
            {% if lichess_debug_assets() %}
                <script src="{{ asset('bundles/lichess/vendor/jquery.min.js') }}"></script>
            {% else %}
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
            {% endif %}
            {% if block('google_chart') %}
                <script src="http://www.google.com/jsapi"></script>
                {% if lichess_debug_assets() %}<script src="{{ asset('bundles/lichess/vendor/google.corechart.js') }}"></script>{% endif %}
            {% endif %}
            {% javascripts
                '@LichessBundle/Resources/public/vendor/jquery-ui.min.js'
                '@LichessBundle/Resources/public/vendor/jquery.mousewheel.js'
                '@LichessBundle/Resources/public/vendor/qtip/jquery.qtip.min.js'
                '@LichessBundle/Resources/public/vendor/jquery.json-2.3.min.js'
                '@LichessBundle/Resources/public/js/tipsy.min.js'
                '@LichessBundle/Resources/public/js/socket.js'
                '@LichessBundle/Resources/public/js/ctrl.js'
                '@LichessBundle/Resources/public/js/game.js'
                '@LichessBundle/Resources/public/js/gamelist.js'
                '@LichessBundle/Resources/public/js/clock.js'
                '@LichessOpeningBundle/Resources/public/js/opening.js'
                '@LichessOpeningBundle/Resources/public/js/hook.js'
                filter="?yui_js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <!--[if lte IE 7]><script>jQuery.ajax('/bundles/lichess/browser.html', { success: function(html) { jQuery('body').prepend(html); } });</script><![endif]-->
        {% endblock %}
        <script src="{{ asset("trans/" ~ app.session.locale ~ ".js") }}"></script>
    </body>
</html>
