<div class="lichess_overboard auto_center game_config game_config_{{ block('invite_type') }}">
	<h2>{{ block('invite_title') }}</h2>
	<div class="game_config_form">
		<form action="{{ path("lichess_config_" ~ block('invite_type')) }}" method="post" novalidate>
			{{ block('invite_form_fields') }}
			{% if form.color is defined %}
				<div class="color_submits">
					{% set randomOnly = block("random_only") %}
					<button{{ "true" == randomOnly ? " disabled" : ""}} type="submit" class="submit white" name="{{ form.vars.full_name }}[color]" value="white" title="{{ "White"|trans }}"></button>
					<button{{ "true" == randomOnly ? " disabled" : ""}} type="submit" class="submit black" name="{{ form.vars.full_name }}[color]" value="black" title="{{ "Black"|trans }}"></button>
					<button type="submit" class="submit random" name="{{ form.vars.full_name }}[color]" value="random" title="{{ "Random"|trans }}"></button>
				</div>
			{% else %}
				<div class="color_submits">
					<button type="submit" class="submit nocolor">{{ "Start"|trans }}</button>
				</div>
			{% endif %}
			{{ block('invite_extra') }}
		</form>
	</div>
</div>
