{% extends "LichessBundle:Game:invite.html.twig" %}
{% block invite_type %}anybody{% endblock %}
{% block invite_title %}{{ "Play with anybody"|trans }}{% endblock %}
{% block invite_form_fields %}
<div class="variants buttons">
    {% for choice, child in form.variants %}
        {{ form_widget(child) }}
        <label for="{{ child.id }}">{{ form.variants.label(choice)|trans }}</label>
    {% endfor %}
</div>
<a class="show_advanced">{{ "Show advanced options"|trans }}</a>
<div class="advanced">
    {{ "Minutes per side"|trans }}
    <div class="times buttons">
        {% for choice, child in form.times %}
            {{ form_widget(child) }}
            <label for="{{ child.id }}">{{ form.times.label(choice)|trans }}</label>
        {% endfor %}
    </div>
    {{ "Increment in seconds"|trans }}
    <div class="increments buttons">
        {% for choice, child in form.increments %}
            {{ form_widget(child) }}
            <label for="{{ child.id }}">{{ form.increments.label(choice) }}</label>
        {% endfor %}
    </div>
    {% if form.modes is defined %}
        {{ "Mode"|trans }}
        <div class="modes buttons">
            {% for choice, child in form.modes %}
                {{ form_widget(child) }}
                <label for="{{ child.id }}">{{ form.modes.label(choice)|trans }}</label>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
{% block invite_extra %}
<p class="explanations">
    {{ "Tip: The more options you check, the faster you find a game"|trans }}
</p>
{% endblock %}
{% block random_only %}true{% endblock %}
