{% extends "LichessBundle:Game:invite.html.twig" %}
{% block invite_type %}ai{% endblock %}
{% block invite_title %}{{ "Play with the machine"|trans }}{% endblock %}
{% block invite_form_fields %}
<div class="variants buttons">
    {% for choice, child in form.variant %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
</div>
<a class="show_advanced">{{ "Show advanced options"|trans }}</a>
<div class="advanced">
    {{ "Level"|trans }}
    <div class="level buttons">
        {{ form_widget(form.level) }}
    </div>
</div>
{% endblock %}
