{% extends "LichessBundle:Game:layoutGame.twig" %}
{% block title %}Lichess - {% trans "play with a friend" %} - {{ color }}{% endblock %}
{% block content %}
<div class="lichess_game_not_started waiting_opponent clearfix lichess_player_{{ color }}">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_" ~ color ~ ".twig" %}
        <div class="lichess_overboard game_config">
            <h2>{% trans "Play with a friend" %}</h2>
            <div class="game_config_form">
                <form action="{% path "lichess_invite_friend" with ["color": color] %}" method="post">
                    <div class="variants">
                        {% for choice, child in form.variant %}
                            {{ child|render }}
                            <label for="{{ child.id }}">{% trans form.variant.label(choice) %}</label>
                        {% endfor %}
                    </div>
                    {% trans "Minutes per side" %}
                    <div class="clocks">
                        {% for choice, child in form.time %}
                            {{ child|render }}
                            <label for="{{ child.id }}">{% trans form.time.label(choice) %}</label>
                        {% endfor %}
                    </div>
                    {% if form.mode %}
                        {% trans "Mode" %}
                        <div class="modes">
                            {% for choice, child in form.mode %}
                                {{ child|render }}
                                <label for="{{ child.id }}">{% trans form.mode.label(choice) %}</label>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <button type="submit" class="submit">{% trans "Start" %}</button>
                </form>
            </div>
        </div>
    </div>
    {% include "LichessBundle:Game:bootGround.twig" with ["color": color, "active": "friend"] %}
</div>
{% endblock %}
