{% extends "LichessBundle:Game:layoutGame.html.twig" %}
{% block title %}Lichess - {{ block('invite_title') }}{% endblock %}
{% block content %}
<div class="lichess_game_not_started waiting_opponent clearfix lichess_player_{{ color }}">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_" ~ color ~ ".html.twig" %}
        <div class="lichess_overboard game_config game_config_{{ block('invite_type') }}">
            <h2>{{ block('invite_title') }}</h2>
            <div class="game_config_form">
                <form action="{{ path("lichess_invite_" ~ block('invite_type')) }}" method="post" novalidate>
                    {{ block('invite_form_fields') }}
                    <button type="submit" class="submit" name="color" value="white">{% trans "White" %}</button>
                    <button type="submit" class="submit" name="color" value="black">{% trans "Black" %}</button>
                    <button type="submit" class="submit" name="color" value="random">{% trans "Random" %}</button>
                    {{ block('invite_extra') }}
                </form>
            </div>
        </div>
    </div>
    {% include "LichessBundle:Game:bootGround.html.twig" with {"color": color, "active": "{{ block('invite_type') }}"} %}
</div>
{% endblock %}
