{% extends "LichessBundle:Game:invite.html.twig" %}
{% block invite_type %}anybody{% endblock %}
{% block invite_title %}{% trans "Play with anybody" %}{% endblock %}
{% block invite_form_fields %}
<div class="variants buttons">
    {% for choice, child in form.variants %}
        {{ form_field(child) }}
        <label for="{{ child.id }}">{% trans form.variants.label(choice) %}</label>
    {% endfor %}
</div>
<a class="show_advanced">{% trans "Show advanced options" %}</a>
<div class="advanced">
    {% trans "Minutes per side" %}
    <div class="times buttons">
        {% for choice, child in form.times %}
            {{ form_field(child) }}
            <label for="{{ child.id }}">{% trans form.times.label(choice) %}</label>
        {% endfor %}
    </div>
    {% trans "Increment in seconds" %}
    <div class="increments buttons">
        {% for choice, child in form.increments %}
            {{ form_field(child) }}
            <label for="{{ child.id }}">{{ form.increments.label(choice) }}</label>
        {% endfor %}
    </div>
    {% if form.modes %}
        {% trans "Mode" %}
        <div class="modes buttons">
            {% for choice, child in form.modes %}
                {{ form_field(child) }}
                <label for="{{ child.id }}">{% trans form.modes.label(choice) %}</label>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
{% block invite_extra %}
<p class="explanations">
    {% trans "Tip: The more options you check, the faster you find a game" %}
</p>
{% endblock %}
