{% extends "LichessBundle:Game:layoutGame.html.twig" %}
{% block title %}Lichess - {{ block('invite_title') }}{% endblock %}
{% block content %}
<div class="lichess_game_not_started waiting_opponent clearfix lichess_player_white">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_white.html.twig" %}
        <div class="lichess_overboard game_config game_config_{{ block('invite_type') }}">
            <h2>{{ block('invite_title') }}</h2>
            <div class="game_config_form">
                <form action="{{ path("lichess_invite_" ~ block('invite_type')) }}" method="post" novalidate>
                    {{ block('invite_form_fields') }}
                    {{ form_field(form.color) }}
                    <div class="color_submits clearfix">
                        <button type="submit" class="submit white" name="{{ form.name }}[color]" value="white" title="{% trans "White" %}">
                        </button>
                        <button type="submit" class="submit black" name="{{ form.name }}[color]" value="black" title="{% trans "Black" %}">
                        </button>
                        <button type="submit" class="submit random" name="{{ form.name }}[color]" value="random" title="{% trans "Random" %}">
                        </button>
                    </div>
                    {{ block('invite_extra') }}
                </form>
            </div>
        </div>
    </div>
    {% include "LichessBundle:Game:bootGround.html.twig" with {"active": block('invite_type')} %}
</div>
{% endblock %}
{% block menu_active %}play{% endblock %}
