{% extends "LichessBundle:Game:invite.html.twig" %}
{% block invite_type %}friend{% endblock %}
{% block invite_title %}{{ "Play with a friend"|trans }}{% endblock %}
{% block invite_form_fields %}
<div class="variants buttons">
    {% for choice, child in form.variant %}
        {{ form_widget(child) }}
        {{ form_label(child) }}
    {% endfor %}
</div>
<a class="show_advanced">{{ "Show advanced options"|trans }}</a>
<div class="advanced">
    {{ "Minutes per side"|trans }}
    <div class="times buttons">
        {% for choice, child in form.time %}
            {{ form_widget(child) }}
            {{ form_label(child) }}
        {% endfor %}
    </div>
    {{ "Increment in seconds"|trans }}
    <div class="increments buttons">
        {% for choice, child in form.increment %}
            {{ form_widget(child) }}
            {{ form_label(child) }}
        {% endfor %}
    </div>
    {% if form.mode is defined %}
        {{ "Mode"|trans }}
        <div class="modes buttons">
            {% for choice, child in form.mode %}
                {{ form_widget(child) }}
                {{ form_label(child) }}
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
