{% for game in games %}
    <div class="game_row clearfix">
        {{ _view.lichess_game.renderMini(game)|raw }}
        <div class="infos">
            {% if game.isBeeingPlayed %}
                <a class="link" href="{% path "lichess_game" with ["id": game.id] %}">
                    Playing right now at {% url "lichess_game" with ["id": game.id] %}
                </a>
            {% else %}
                {{ _view.time.ago(game.updatedAt) }}
            {% endif %}
            <br /><br />
            {% for player in [game.invited, game.creator] %}
                {% trans player.color|capitalize %}
                {% if player.isAi %}
                    {% trans '%ai_name% level %ai_level%' with['%ai_name%': 'Crafty A.I.', '%ai_level%': player.aiLevel] %}
                {% else %}
                    {{ _view.lichess_user.link(player)|raw }}
                {% endif %}
                <br />
            {% endfor %}
            <br />
            {{ game.fullMoveNumber }}.
            {% if game.isFinished %}
                {% trans game.statusMessage %}
                {% if game.winner %}
                , {% trans game.winner.color|capitalize ~ " is victorious" %}
                {% endif %}
            {% else %}
                {% trans game.turnColor|capitalize ~ " plays" %}
            {% endif %}
            <br /><br />
            Variant: {{ game.variantName }}
            <br /><br />
            Time control: {{ game.clockName }}
            <br /><br />
            <a href="{% path "lichess_pgn_viewer" with ["id": game.id, "color": game.creatorColor] %}">&gt;&gt; {% trans "Replay and Analyse" %}</a>
        </div>
    </div>
{% else %}
- No recent game at the moment -
{% endfor %}
