{% extends "LichessBundle:Game:list.html.twig" %}
{% block title %}{{ 'View %nb% checkmates'|trans({'%nb%': nbMates}) }} - Page {{ games.currentPage }}{% endblock %}
{% block list_type %}Checkmates{% endblock %}
{% block list_menu %}
<a class="game_list" href="{{ path("lichess_list_current") }}">{{ 'Games being played right now'|trans }}</a>
<a class="game_list" href="{{ path("lichess_list_all") }}">{{ 'View all %nb% games'|trans({'%nb%': nbGames}) }}</a>
{% endblock %}
