{% if fromUser is not defined %}{% set fromUser = none %}{% endif %}
{% for game in games %}
{% set firstPlayer = game.getPlayerByUserOrCreator(fromUser) %}
{% set fromPlayer = game.getPlayerByUser(fromUser) %}
<div class="game_row paginated_element clearfix">
{{ lichess_game_mini(game, fromUser) }}
<div class="infos">
<b>
{% if game.isBeingPlayed %}
<a class="link" href="{{ path("lichess_game", {"id": game.id, "color": firstPlayer.color} ) }}">
    {{ "Playing right now"|trans }}
</a>,
{% else %}
{{ lichess_date(game.updatedAt) }}
{% endif %}
</b>-
{% if game.isFinishedOrAborted %}
{{ game.statusMessage|trans }}
{% if game.winner %}
, <span{% if fromPlayer %} class="{{ game.winner == fromPlayer ? "win" : "loss" }}"{% endif %}>{{ (game.winner.color|capitalize ~ " is victorious")|trans }}</span>
{% endif %}
{% else %}
{{ (game.turnColor|capitalize ~ " plays")|trans }}
{% endif %}
<br /><br />
{% block players %}
<table class="game_players">
{% for player in [firstPlayer.opponent, firstPlayer] %}
<tr>
<td>{{ player.color|capitalize|trans }}</td>
<td>{{ lichess_link_player(player) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
<br />
{{ "Variant"|trans }}: {{ game.variantName }}
<br /><br />
{{ "Time control"|trans }}: {{ game.clockName }}
<br /><br />
{% if game.isRated %}
{{ "This game is rated"|trans }}
<br /><br />
{% endif %}
<a href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": game.creatorColor} ) }}">&gt;&gt; {{ "Replay and analyse"|trans }}</a>
</div>
</div>
{% else %}
- No recent game at the moment -
{% endfor %}
