{% if fromUser is not defined %}{% set fromUser = none %}{% endif %}
{% if mini is not defined %}{% set mini = false %}{% endif %}
{% for game in games %}
{% set firstPlayer = game.getPlayerByUserOrCreator(fromUser) %}
{% set fromPlayer = game.getPlayerByUser(fromUser) %}
<div class="game_row paginated_element clearfix {{ cycle(['odd', 'even'], loop.index0) }}">
{{ lichess_game_fen(game, fromUser) }}
<div class="infos">
<b>
{% if game.isBeingPlayed %}
<a class="link" href="{{ path("lichess_game", {"id": game.id, "color": firstPlayer.color} ) }}">{{ "Playing right now"|trans }}</a>,
{% else %}
{{ lichess_date(game.updatedAt) }}
{% endif %}
</b>-
{% if game.isFinishedOrAborted %}
{{ game.statusMessage|trans }}
{% if game.winner %}
, <span{% if fromPlayer %} class="{{ game.winner == fromPlayer ? "win" : "loss" }}"{% endif %}>{{ (game.winner.color|capitalize ~ " is victorious")|trans }}</span>
{% endif %}
{% else %}
{{ (game.turnColor|capitalize ~ " plays")|trans }}
{% endif %}
{% if not game.isStandardVariant %}
    <br />
    {{ "Variant"|trans }}: <strong>{{ game.variantName }}</strong>
{% endif %}
<br /><br />
{% block players %}
<table class="game_players">
{% for player in [firstPlayer.opponent, firstPlayer] %}
<tr>
<td>{{ player.color|capitalize|trans }}</td>
<td>{{ lichess_link_player(player) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
<br />
{% if game.hasClock %}
    <span class="s16 clock">{% if not mini %}{{ "Time control"|trans }}: {% endif %}{{ game.clockName|trans }}</span>
    <br /><br />
{% endif %}
{% if game.isRated %}
{{ "This game is rated"|trans }}
<br /><br />
{% endif %}
{% if not mini %}
<a class="go_analyse" href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": game.creatorColor} ) }}">&gt;&gt; {{ "Replay and analyse"|trans }}</a>
{% endif %}
</div>
</div>
{% else %}
- No recent game at the moment -
{% endfor %}
