{% extends "LichessBundle:Game:list.html.twig" %}
{% block title %}{{ "View all %nb% games"|trans({"%nb%": nbGames}) }}{% if games.currentPage > 1 %} - Page {{ games.currentPage }}{% endif %}{% endblock %}
{% block list_type %}Games{% endblock %}
{% block list_menu %}
<a class="game_list" href="{{ path("lichess_list_current") }}">{{ 'Games being played right now'|trans }}</a>
<a class="game_list" href="{{ path("lichess_list_mates") }}">{{ 'View %nb% checkmates'|trans({'%nb%': nbMates}) }}</a>
{% endblock %}
