{% extends "LichessBundle:Game:layoutGame.html.twig" %}
{% block content %}
<div class="content_box">
    <h1 class="title">Game #{{ game.id }} time stats</h1>

    {% if game.isRated %}
        <div class="move-time" data-title="Time per move evolution" data-columns="{{ moveTime.columns|json_encode }}" data-rows="{{ moveTime.rows|json_encode }}"></div>
        {% for player in game.players %}
        <div class="move-time-distribution" data-title="{{ player.usernameWithElo }} - time per move distribution" data-columns="{{ moveTimeDistribution[player.color].columns|json_encode }}" data-rows="{{ moveTimeDistribution[player.color].rows|json_encode }}"></div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessBundle/Resources/public/css/gamestats.css'
    filter="?yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessBundle/Resources/public/js/gamestats.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
{% block layout_head %}
{{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endblock %}
