{% extends "LichessBundle:Game:layoutGame.html.twig" %}

{% block content %}
<div class="content_box">
    <h1 class="title">Game #{{ game.id }} time stats</h1>
    <a href="{{ path("lichess_game", {"id": game.id}) }}">&lt; Back to the game</a>
    <br /><br />

    <div class="move-time" data-title="Time per move evolution" data-columns="{{ moveTime.columns|json_encode }}" data-rows="{{ moveTime.rows|json_encode }}"></div>
    {% for player in game.players %}
    <br /><br />
    <div class="move-time-distribution" data-title="{{ player.color|capitalize }} - {{ player.usernameWithElo }} - time per move distribution" data-columns="{{ moveTimeDistribution[player.color].columns|json_encode }}" data-rows="{{ moveTimeDistribution[player.color].rows|json_encode }}"></div>
    {% endfor %}
</div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessBundle/Resources/public/css/gamestats.css'
    filter="?yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block google_chart %}1{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessBundle/Resources/public/js/chart.js'
    '@LichessBundle/Resources/public/js/gamestats.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
