{% if player.game.hasClock %}
    {% include "LichessBundle:Game:clock.twig" with ["clock": player.game.clock, "color": player.opponent.color, "position": "top"] %}
{% endif %}
<div class="lichess_table">
    <div class="lichess_opponent">
        {% if player.opponent.isAi %}
            <span>{% trans "Opponent: %ai_name%" with ['%ai_name%': 'Crafty A.I.'] %}</span>
            <select class="lichess_ai_level">
                {% for level in 1..8 %}
                    <option value="{{ level|raw }}" {{ level == player.opponent.aiLevel ? 'selected="selected" ' : "" }}>{% trans 'Level' %} {{ level|raw }}</option>
                {% endfor %}
            </select>
        {% else %}
            <div class="opponent_status">
                {% render "LichessBundle:Player:opponent" with ["id": player.game.id, "color": player.color, "playerFullId": player.fullId] %}
            </div>
        {% endif %}
    </div>
    <div class="lichess_separator"></div>
    <div class="lichess_current_player">
        <div class="lichess_player white {{ player.game.turnColor == "black" ? " none" : "" }}">
            <div class="lichess_piece king white"></div>
            <p>{% trans player.isWhite ? 'Your turn' : 'Waiting' %}</p>
        </div>
        <div class="lichess_player black {{ player.game.turnColor == "white" ? " none" : "" }}">
            <div class="lichess_piece king black"></div>
            <p>{% trans player.isBlack ? 'Your turn' : 'Waiting' %}</p>
        </div>
    </div>
    <div class="lichess_control clearfix">
        <a href="{% path "lichess_resign" with ['id': player.fullId] %}" class="lichess_resign" title="{% trans "Give up" %}">{% trans "Resign" %}</a>
    </div>
    {% if player.isMyTurn and player.game.isThreefoldRepetition %}
    <div class="lichess_claim_draw_zone">
        {% trans "Threefold repetition" %}.&nbsp;
        <a class="lichess_claim_draw" href="{% path "lichess_claim_draw" with ["id": player.fullId] %}">{% trans "Claim a draw" %}</a>
    </div>
    {% endif %}
</div>
{% if player.game.hasClock %}
    {% include "LichessBundle:Game:clock.twig" with ["clock": player.game.clock, "color": player.color, "position": "bottom"] %}
{% endif %}
