{% set game = player.game %}
{% if game.hasClock %}
    {% include "LichessBundle:Game:clock.html.twig" with {"clock": game.clock, "color": player.opponent.color, "position": "top"} %}
{% endif %}
<div class="lichess_table{{ game.hasClock ? " table_with_clock" : "" }}">
    <div class="lichess_opponent">
        <div class="opponent_status">
            {% render "LichessBundle:Player:opponentPlayer" with {"opponent": player.opponent, "playerFullId": player.fullId} %}
        </div>
    </div>
    <div class="lichess_separator"></div>
    <div class="lichess_current_player">
        <div class="lichess_player white {{ game.turnColor == "black" ? " none" : "" }}">
            <div class="lichess_piece king white"></div>
            <p>{{ (player.isWhite ? 'Your turn' : 'Waiting')|trans }}</p>
        </div>
        <div class="lichess_player black {{ game.turnColor == "white" ? " none" : "" }}">
            <div class="lichess_piece king black"></div>
            <p>{{ (player.isBlack ? 'Your turn' : 'Waiting')|trans }}</p>
        </div>
    </div>
    <div class="lichess_control clearfix">
        {% if game.isAbortable %}
            <a href="{{ lila_path("abort/" ~ player.fullId) }}" class="lichess_abort">{{ "Abort game"|trans }}</a>
        {% else %}
        <a href="{{ lila_path("resign/" ~ player.fullId) }}" class="lichess_resign" title="{{ "Give up"|trans }}">{{ "Resign"|trans }}</a>
            {% if player.canOfferDraw %}
                <a class="offer_draw" href="{{ path("lichess_offer_draw", {"id": player.fullId} ) }}">{{ "Offer draw"|trans }}</a>
            {% endif %}
        {% endif %}
    </div>
    {% if player.isMyTurn and game.isThreefoldRepetition %}
    <div class="lichess_claim_draw_zone">
        {{ "Threefold repetition"|trans }}.&nbsp;
        <a class="lichess_claim_draw" href="{{ path("lichess_claim_draw", {"id": player.fullId} ) }}">{{ "Claim a draw"|trans }}</a>
    </div>
    {% elseif player.isOfferingDraw %}
    <div class="offered_draw">
        {{ "Draw offer sent"|trans }}.&nbsp;
        <a href="{{ path("lichess_cancel_draw_offer", {"id": player.fullId} ) }}">{{ "Cancel"|trans }}</a>
    </div>
    {% elseif player.opponent.isOfferingDraw %}
    <div class="offered_draw">
        {{ "Your opponent offers a draw"|trans }}.<br />
        <a href="{{ path("lichess_accept_draw_offer", {"id": player.fullId} ) }}">{{ "Accept"|trans }}</a>&nbsp;
        <a href="{{ path("lichess_decline_draw_offer", {"id": player.fullId} ) }}">{{ "Decline"|trans }}</a>
    </div>
    {% endif %}
</div>
{% if game.hasClock %}
    {% include "LichessBundle:Game:clock.html.twig" with {"clock": game.clock, "color": player.color, "position": "bottom"} %}
    <a class="moretime" href="{{ path("lichess_moretime", {'id': player.fullId}) }}" title="{{ "Give %nb% seconds"|trans({"%nb%": 15}) }}"></a>
{% endif %}
