{% set game = player.game %}
<div class="lichess_current_player">
    {% if game.isFinished or game.isAborted %}
        {% if game.winner %}
            <div class="lichess_player {{ game.winner.color }}">
                <div class="lichess_piece king {{ game.winner.color }}"></div>
                <p>{{ game.statusMessage|trans }}<br />{{ (game.winner.color|capitalize ~ " is victorious")|trans }}</p>
            </div>
        {% else %}
            <div class="lichess_player">
                <p>{{ game.statusMessage|trans }}</p>
            </div>
        {% endif %}
    {% else %}
        <div class="lichess_player white {{ game.turnColor == "black" ? " none" : "" }}">
            <div class="lichess_piece king white"></div>
            <p>{{ "White plays"|trans }}</p>
        </div>
        <div class="lichess_player black {{ game.turnColor == "white" ? " none" : "" }}">
            <div class="lichess_piece king black"></div>
            <p>{{ 'Black plays'|trans }}</p>
        </div>
    {% endif %}
</div>
<div class="lichess_separator"></div>
{% include "LichessBundle:Player:player.html.twig" with {"player": player} %}
{% if game.next %}
    <div class="lichess_control buttons">
        <a class="button" href="{{ path('lichess_game', {'id': game.next.id, 'color': player.opponent.color}) }}">View rematch</a>
    </div>
{% endif %}
