{% extends "LichessBundle:Pgn:layoutAnalyse.html.twig" %}
{% block title %}{{ "Replay and analyse"|trans }} {{ game.id }}{% endblock %}
{% block content %}
<div class="analyse clearfix">
    <div class="board_wrap">
        <div id="GameBoard"{{ reverseColor == "white" ? ' class="flip"' : "" }}></div>
        <div id="GameButtons"></div>
    </div>
    <div class="moves_wrap">
        <h1>{{ "Replay and analyse"|trans }}</h1>
        <div id="GameText"></div>
    </div>
</div>
{% endblock %}
{% block goodies %}
<div class="lichess_goodies">
    <br />
    <div class="box">
        {% if game.isBeingPlayed %}
            <a class="link" href="{{ path("lichess_game", {"id": game.id} ) }}">
                {{ 'Playing right now'|trans }} {{ url("lichess_game", {"id": game.id} ) }}
            </a>
        {% else %}
            {{ lichess_date(game.updatedAt) }}
        {% endif %}
        {% if game.isFinishedOrAborted %}
            <br />{{ game.statusMessage|trans }}
        {% endif %}
        <br />
        <br />
        <div id="player_links">
        {% for p in [player.opponent, player] %}
            <div>
                {% if p.isAi %}
                    {{ "%ai_name% level %ai_level%"|trans({'%ai_name%': 'Crafty A.I.', '%ai_level%': p.aiLevel}) }}
                {% else %}
                    {{ lichess_link_player(p)|raw }}
                {% endif %}
            </div>
        {% endfor %}
        </div>
        <br />
        {{ "Variant"|trans }} - {{ game.variantName|capitalize }}<br />
        {{ "Time control"|trans }} - {{ game.clockName|trans }}<br />
        {% if game.isRated %}
            {{ "This game is rated"|trans }}<br />
        {% endif %}
        {% if opening %}
          {{ "Opening"|trans }} - <a href="http://www.chessgames.com/perl/chessopening?eco={{ opening.code }}">{{ opening.name }}</a><br />
        {% endif %}
    </div>
    <br />
    <a class="rotate_board" href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": reverseColor} ) }}">{{ "Flip board"|trans }}</a><br />
    <br />
    {{ "Export PGN"|trans }}:
    <textarea id="pgnText" readonly="readonly">{{ pgn }}</textarea>
</div>
{% endblock %}
{% block share %}{% include "LichessBundle:Game:share.html.twig" with {"game": game} %}{% endblock %}
