{% extends "LichessTranslationBundle::layout.html.twig" %}
{% block title %}Help translate Lichess{% endblock %}
{% block content %}
<div class="lichess_box">
    <h1 class="lichess_title">Help translate Lichess!</h1>
    <div class="lichess_text">
        Lichess is OpenSource and needs contributors to get better.
        {% if error is defined and error %}
            <div class="error">{{ error|raw }}</div>
        {% endif %}
        {% if app.session.hasFlash('notice') %}
            <div class="notice">{{ app.session.getFlash('notice') }}</div>
        {% endif %}
        <form action="{{ path("lichess_translation_contribution_locale", {"locale": locale} ) }}" data-change-url="{{ path("lichess_translation_contribution_locale", {"locale": "__"} ) }}" method="post" novalidate>
            <div class="field">
                {{ form_label(form.code, "Translate from english to") }}
                {{ form_widget(form.code) }}
            </div>
            {% block translation %}{% endblock %}
        </form>
        <hr />
        Big thanks go to all translators!
        {% include "LichessTranslationBundle:Contribution:translators.html.twig" %}
    </div>
</div>
{% endblock %}
