{% extends "FOSUserBundle:User:show.html.twig" %}

{% block stylesheets %}
{{ parent() }}
<link href="{{ asset("bundles/lichessuser/css/useredit.css") }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset("bundles/lichessuser/js/jquery.editable-set.js") }}"></script>
<script src="{{ asset("bundles/lichessuser/js/useredit.js") }}"></script>
{% endblock %}

{% block user_bio %}
    <div class="editable" data-url="/profile/update">
    <span class="user_bio" data-name="bio" data-type="textarea" data-provider-url="{{ path("fos_user_profile_bio") }}">{{ lichess_shorten(user.bio|default("Click here to tell about yourself."), 400) }}</span>
    </div>
{% endblock %}

{% block user_message %}
<br /><br />
{% endblock %}

{% block actions %}
    <br />
    <a class="small" href="{{ path("fos_user_close_account") }}">Close your account</a>
{% endblock %}
