{% extends "FOSUserBundle:User:show.html.twig" %}

{% block user_bio %}
    <div class="editable" data-url="/profile/update">
    <span class="user_bio" data-name="bio" data-type="textarea" data-provider-url="{{ path("fos_user_profile_bio") }}">{{ lichess_shorten(user.bio|default("Click here to tell about yourself."), 400) }}</span>
    </div>
{% endblock %}

{% block user_message %}{% endblock %}
{% block user_elo_with_me %}{% endblock %}

{% block actions %}
    <br />
    <a class="small" href="{{ path("fos_user_close_account") }}">Close your account</a>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets
    '@LichessUserBundle/Resources/public/css/useredit.css'
    filter="yui_css" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessUserBundle/Resources/public/js/jquery.editable-set.js'
    '@LichessUserBundle/Resources/public/js/useredit.js'
    filter="yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
