{% extends "FOSUserBundle::layoutUser.html.twig" %}
{% block title %}{{ "Chess players"|trans }}{% endblock %}
{% block content %}
<div class="content_box">
    <div class="user_lists clearfix">
        <div class="all_users">
            <h1 class="lichess_title">{{ "Chess players"|trans }} ({{ users.nbResults }})</h1>
            <form class="search_user_form" action="{{ url("fos_user_user_show", {"username": ""}) }}">
                <label for="search_user_input">{{ "Search a player"|trans }}</label>
                <input id="search_user_input" class="search_user autocomplete" data-provider="{{ url("fos_user_autocomplete") }}" />
            </form>
            <div class="infinitescroll">
                <div class="pager">{{ pagerfanta(users, 'default', {'proximity': 0}) }}</div>
                <ol start="{{ 1+(users.currentPage-1)*users.maxPerPage }}" class="users paginated_element">
                    {% for user in users %}<li>{{ lichess_link_user(user, none, true) }}</li>{% endfor %}
                </ol>
            </div>
        </div>
        <div data-reload-url="{{ path("fos_user_online_users") }}" class="online_users">
            <h1 class="lichess_title">{{ "Who is online"|trans }}</h1>
              <h2>{{ "All players"|trans }} (<span class="players_count none">?</span>)</h2>
              <ul class="anonymous_users clearfix"></ul>
              <div class="online_users_inner">
                {% render "FOSUserBundle:Online:listOnline" %}
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block goodies %}
<div class="lichess_goodies">
    <br />
    <a href="{{ path("lichess_user_stats" ) }}">{{ "See players stats"|trans }}</a>
</div>
{% endblock %}
