{% if user.isEnabled %}
    <div class="title">
        {{ lichess_link_user(user, "qtiped", true) }}
        <span class="stats">
            {{ critic.nbGames }} games, {{ critic.nbWins }} wins
        </span>
    </div>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    {% if user.isEngine and user != app.user %}
      <div class="engine_warning">{{ "This player uses chess computer assistance"|trans }}</div>
    {% endif %}
    <div class="elo_with_me">
        {% for end, elo in {'win':critic.eloIfWin,'draw':critic.eloIfDraw,'lose':critic.eloIfLose} %}
        {{ end|capitalize }}: <strong>{{ elo }}</strong>
        {% endfor %}
    </div>
    {% endif %}
    {% include "LichessBundle:Game:listWidget.html.twig" with {"games": critic.lastGameArray, "fromUser": user, "mini": true} %}
{% else %}
    {{ user.username }} account is closed.
{% endif %}
