{% extends "FOSUserBundle::layoutUser.html.twig" %}
{% block title %}{{ user.usernameWithElo }}{% if games.currentPageNumber > 1 %} - Page {{ games.currentPageNumber }}{% endif %}{% endblock %}
{% block content %}
<div class="content_box">
<div class="user_show">
    <div class="user_top clearfix">
        <div class="elo_history" title="Elo history" data-columns="{{ eloChart.columns|json_encode }}" data-rows="{{ eloChart.rows|json_encode }}"></div>
        <h1 class="lichess_title">{{ user.usernameWithElo }}</h1>
        {% block user_bio %}
            <span class="user_bio">{{ lichess_shorten(user.bio, 400) }}</span>
        {% endblock %}
        <div class="stats">
            {{ "Rank"|trans }}: <strong>{{ critic.rank }}</strong> / {{ critic.nbUsers }}<br />
            {{ "Games played"|trans }}: <strong>{{ critic.nbGames|default("0") }}</strong><br />
            {% if not user.isEnabled %}
                <br /><span>This account is closed.</span>
            {% elseif user.isOnline %}
                <br /><span class="user_is_online">{{ "%user% is online"|trans({"%user%": user.username}) }}</span>
            {% endif %}
            {% block actions %}{% endblock %}
            <div class="win_stats" data-columns="{{ winChart.columns|json_encode }}" data-rows="{{ winChart.rows|json_encode }}"></div>
            {% block user_message %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="actions">
                    <a href="{{ path("ornicar_message_message_new", {"to": user.username}) }}" class="button send_message">{{ "Send a message"|trans }}</a>
                </div>
            {% endif %}
            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}<br /><a href="?_impersonate={{ user.username }}">Impersonate</a>{% endif %}
            {% endblock %}
        </div>
    </div>
    {% set pagination %}{% include "LichessBundle::pagination.html.twig" with {"pager": games.pages, "url": pagerUrl} %}{% endset %}
    <div class="games infinitescroll all_games">
        <div class="pager pager_top">{{ pagination|raw }}</div>
        {% include "LichessBundle:Game:listWidget.html.twig" with {"games": games, "fromUser": user} %}
        <div class="pager pager_bottom">{{ pagination|raw }}</div>
    </div>
</div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessBundle/Resources/public/js/chart.js'
    '@LichessUserBundle/Resources/public/js/show.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

{% block layout_head %}
{{ parent() }}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="{{ asset('bundles/lichess/vendor/google.corechart.js') }}"></script>
{% endblock %}
