{% extends "FOSUserBundle::layoutUser.html.twig" %}

{% block title %}{{ user.usernameWithElo }}{% if games.currentPage > 1 %} - Page {{ games.currentPage }}{% endif %}{% endblock %}
{% block description %}{{ user.usernameWithElo }} - {{ user.bio }}{% endblock %}

{% block content %}
<div class="content_box no_padding user_show">
    <div class="content_box_top">
        {% block user_message %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path("ornicar_message_thread_new", {"to": user.username}) }}" class="send_message">{{ "Compose message"|trans }}</a>
            {% endif %}
            {% if is_granted('ROLE_ALLOWED_TO_SWITCH') %}<a href="?_impersonate={{ user.username }}">Impersonate</a>{% endif %}
        {% endblock %}
        <a href="{{ path("lichess_user_export", {"username": user.username}) }}">{{ "Export games"|trans }}</a>
        <div class="status {{ user.isOnline ? "connected" : "" }}"></div>
        <h1 class="lichess_title">{{ user.usernameWithElo }}</h1>
        <span class="rank">{{ "Rank"|trans }}: <strong>{{ critic.rank }}</strong> / {{ critic.nbUsers }}</span>
    </div>
    <div class="content_box_content clearfix">
        {% if user.hasRole("ROLE_ADMIN") %}<div class="staff">STAFF</div>{% endif %}
        {% if eloChart.hasData %}
            <div class="elo_history" title="Elo history" data-columns="{{ eloChart.columns|json_encode }}" data-rows="{{ eloChart.rows|json_encode }}"></div>
        {% endif %}
        {% block user_bio %}
            {% if user.bio %}<span class="user_bio">{{ lichess_shorten(user.bio, 400) }}</span>{% endif %}
        {% endblock %}
        {% block user_elo_with_me %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="elo_with_me">
                {% for end, elo in {'win':critic.eloIfWin,'draw':critic.eloIfDraw,'lose':critic.eloIfLose} %}
                {{ end|capitalize }}: <strong>{{ elo }}</strong>
                {% endfor %}
            </div>
            {% endif %}
        {% endblock %}
        <div class="stats">
            {% if winChart.hasData %}
                <div class="win_stats" title="{{ "Games played"|trans }}: {{ critic.nbGames|default("0") }}" data-columns="{{ winChart.columns|json_encode }}" data-rows="{{ winChart.rows|json_encode }}"></div>
            {% endif %}
            {% block actions %}
              {% if is_granted("ROLE_ADJUST_CHEATER") %}
                <form method="post" action="{{ path("fos_user_user_adjust", {"username": user.username}) }}">
                  <input class="confirm" type="submit" value="Adjust cheater" />
                </form>
              {% endif %}
              {% if is_granted("ROLE_CHAT_BAN") %}
                <form method="post" action="{{ path("fos_user_user_chatban", {"username": user.username}) }}">
                    <input class="confirm" type="submit" value="{{ user.isChatBan ? "Unban" : "Ban" }} from public chat" />
                </form>
                <div class="chat_messages">
                  {% for message in chat %}
                  <div>{{ message.message }}</div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endblock %}
        </div>
    </div>
    {% if critic.nbGames %}
        <div class="content_box_inter clearfix">
            {% include "FOSUserBundle:User:showMenu.html.twig" with {'active': mode} %}
        </div>
        <div class="games infinitescroll all_games">
            <div class="pager">{{ pagerfanta(games, 'default', {'proximity': 0}) }}</div>
            {% include "LichessBundle:Game:listWidget.html.twig" with {"games": games, "fromUser": user} %}
        </div>
    {% endif %}
</div>
{% endblock %}

{% block google_chart %}1{% endblock %}
{% block javascripts %}
{{ parent() }}
{% javascripts
    '@LichessBundle/Resources/public/js/chart.js'
    '@LichessUserBundle/Resources/public/js/charts.js'
    filter="?yui_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
