{% if opponent.isAi %}
    <div class="username connected">
        {{ "%ai_name% level %ai_level%"|trans({'%ai_name%': 'Crafty A.I.', '%ai_level%': opponent.aiLevel}) }}
    </div>
{% else %}
    {% set status = opponentActivity == 2 ? "connected" : "offline" %}
    <div class="username {{ status }}">{{ lichess_link_player(opponent, 'blank_if_play')}}</div>
    {% if opponentActivity == 0 and game.isPlayable %}
        {{ "The other player has left the game. You can force resignation, or wait for him."|trans }}<br />
        <a title="{{ "Make your opponent resign"|trans }}" class="force_resignation" href="{{ lila_path("force-resign/" ~ playerFullId) }}">{{ "Force resignation"|trans }}</a>
    {% endif %}
{% endif %}
