{% extends "LichessBundle:Player:layoutPlayer.html.twig" %}
{% set game = player.game %}
{% block robots %}noindex, nofollow{% endblock %}
{% block title %}Play {{ player.id }} - {{ player.color }}{% endblock %}
{% block content %}
<div class="lichess_game clearfix lichess_player_{{ player.color }} not_spectator">
    <div class="lichess_board_wrap">
        {{ lichess_game_board(player, checkSquareKey)|raw }}
        {% include "LichessBundle:Main:connectionLost.html.twig" %}
        <div id="premove">{{ "Premove enabled - Click anywhere to cancel"|trans }}</div>
    </div>
    <div class="lichess_ground">
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player, "position": "top"} %}
        <div class="lichess_table_wrap">
            {% render "LichessBundle:Player:table" with {"id": game.id, "color": player.color, "playerFullId": player.fullId} %}
        </div>
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player.opponent, "position": "bottom"} %}
    </div>
</div>
{% endblock %}
{% block goodies %}
    <div class="lichess_goodies">
        <br />
        <a class="lichess_replay_link blank_if_play" href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": player.color} ) }}">{{ "Replay and analyse"|trans }}</a>
        {% if game.isRated and game.hasMoveTimes %}
            <br /><br />
            <a href="{{ path("lichess_game_stats", {"id": game.id}) }}">View game stats</a>
        {% endif %}
        <br /><br />
        <span class="nb_viewers">{{ "Spectators:"|trans }} -</span>
    </div>
{% endblock %}
{% block js_data %}
    {{ lichess_game_data(player, stackVersion, possibleMoves, opponentActivity) }}
{% endblock %}
{% block chat %}
{% if player.opponent.isHuman %}{% include "LichessBundle:Player:room.html.twig" with {"messageHtml": messageHtml} %}{% endif %}
{% endblock %}
{% block share %}{% include "LichessBundle:Game:share.html.twig" with {"game": game} %}{% endblock %}
