{% extends "LichessBundle:Player:layoutPlayer.html.twig" %}
{% block title %}{{ "Play with a friend"|trans }} - {{ player.color }}{% endblock %}
{% block content %}
<div class="lichess_game lichess_game_not_started waiting_opponent clearfix lichess_player_{{ player.color }}">
    <div class="lichess_board_wrap">
        {% include "LichessBundle:Main:staticBoard_" ~ player.color ~ ".html.twig" %}
        <div class="lichess_overboard auto_center">
            {{ "Waiting for opponent"|trans }}
            <img src="{{ asset('bundles/lichess/images/hloader.gif') }}" width="220" height="33" /><br />
        </div>
    </div>
</div>
{% endblock %}
{% block js_data %}
    {{ lichess_game_data(player, 0, none, false) }}
{% endblock %}
