{% extends "LichessBundle:Player:layoutPlayer.html.twig" %}
{% block title %} Watch {{ game.id }} - {{ player.color }}{% endblock %}
{% block content %}
<div class="lichess_game clearfix lichess_player_{{ player.color }}">
    <div class="lichess_board_wrap">
        {{ lichess_game_board(player, checkSquareKey)|raw }}
        {% include "LichessBundle:Main:connectionLost.html.twig" %}
    </div>
    <div class="lichess_ground">
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player, "position": "top"} %}
        <div class="lichess_table_wrap">
          {% if game.hasClock %}
              {% include "LichessBundle:Game:clock.html.twig" with {"clock": game.clock, "color": player.opponent.color, "position": "top"} %}
          {% endif %}
          <div class="lichess_table{{ game.hasClock ? " table_with_clock" : "" }}{{ game.isFinished ? " finished" : "" }} spectator">
            <div class="lichess_opponent">
                {% include "LichessBundle:Player:player.html.twig" with {"player": player.opponent} %}
            </div>
            <div class="lichess_separator"></div>
            <div class="table_inner">
              {% include "LichessBundle:Game:watchTable.html.twig" with {"player": player} %}
            </div>
          </div>
          {% if player.game.hasClock %}
              {% include "LichessBundle:Game:clock.html.twig" with {"clock": game.clock, "color": player.color, "position": "bottom"} %}
          {% endif %}
          {% if is_granted('ROLE_VIEW_TRIALS_IN_GAME') %}
            {% for player in [player.opponent, player] if player.blurPercent > 40 %}
              <br />{{ lichess_link_player(player) }} {{ player.blurs }}/{{ player.nbMoves }} blurs ({{player.blurPercent }}%)
              {% endfor %}
          {% endif %}
        </div>
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player.opponent, "position": "bottom"} %}
    </div>
</div>
{% endblock %}
{% block js_data %}
    {{ lichess_game_watch_data(player, version, possibleMoves)|raw }}
{% endblock %}
{% block goodies %}
<div class="lichess_goodies">
    <br />
    {{ "You are viewing this game as a spectator"|trans }}.
    <br /><br />
    <span class="nb_viewers">{{ "Spectators:"|trans }} -</span>
    <br /><br /><br />
    <div class="box">
        {% if game.isBeingPlayed %}
            {{ "Playing right now"|trans }}
        {% else %}
            {{ lichess_date(game.updatedAt) }}
        {% endif %}
        <br /><br />
        {% for p in [player.opponent, player] %}
            <div>
                {% if p.isAi %}
                    {{ "%ai_name% level %ai_level%"|trans({'%ai_name%': 'Crafty A.I.', '%ai_level%': p.aiLevel}) }}
                {% else %}
                    {{ lichess_link_player(p)|raw }}
                {% endif %}
            </div>
        {% endfor %}
        <br />
        {{ "Variant"|trans }}: {{ game.variantName|capitalize }}<br /><br />
        {{ "Time control"|trans }}: {{ game.clockName }}<br />
        {% if game.isRated %}
            <br />{{ "This game is rated"|trans }}<br />
        {% endif %}
    </div>
    <br /><br />
    <a class="lichess_replay_link" href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": player.color} ) }}">{{ "Replay and analyse"|trans }}</a>
    {% if game.isRated and game.hasMoveTimes %}
        <br /><br />
        <a href="{{ path("lichess_game_stats", {"id": game.id}) }}">{{ 'View game stats'|trans }}</a>
    {% endif %}
    <br /><br />
    <a class="rotate_board" href="{{ path("lichess_game", {"id": game.id, "color": player.opponent.color} ) }}">{{ "Flip board"|trans }}</a>
    <br /><br />
    <a href="{{ path("lichess_homepage") }}"><strong>{{ "Play a new game"|trans }}</strong></a>
</div>
{% endblock %}
{% block menu_active %}game{% endblock %}
{% block share %}{% include "LichessBundle:Game:share.html.twig" with {"game": game} %}{% endblock %}
