{% extends "LichessBundle:Player:layoutPlayer.html.twig" %}
{% block title_suffix %} #{{ game.id }} as {{ player.color }}{% endblock %}
{% block content %}
<div class="lichess_game clearfix lichess_player_{{ player.color }}">
    <div class="lichess_board_wrap">
        {{ lichess_game_board(player, checkSquareKey)|raw }}
    </div>
    <div class="lichess_ground">
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player, "position": "top"} %}
        <div class="lichess_table_wrap">
            {% render "LichessBundle:Player:table" with {"id": game.id, "color": player.color, "playerFullId": ""} %}
        </div>
        {% include "LichessBundle:Game:cemetery.html.twig" with {"player": player.opponent, "position": "bottom"} %}
    </div>
</div>
{% endblock %}
{% block js_data %}
    {{ lichess_game_watch_data(player, possibleMoves)|raw }}
{% endblock %}
{% block goodies %}
<div class="lichess_goodies">
    <br />
    {% trans "You are viewing this game as a spectator" %}.
    <br /><br /><br />
    <div class="box">
        {% if game.isBeingPlayed %}
            {% trans "Playing right now" %}
        {% else %}
            {{ time_diff(game.updatedAt) }}
        {% endif %}
        <br /><br />
        {% for p in [player.opponent, player] %}
            <div>
                {% trans p.color|capitalize %} -
                {% if p.isAi %}
                    {% trans "%ai_name% level %ai_level%" with {'%ai_name%': 'Crafty A.I.', '%ai_level%': p.aiLevel} %}
                {% else %}
                    {{ lichess_link_player(p)|raw }}
                {% endif %}
            </div>
        {% endfor %}
        <br />
        {% trans "Variant" %} - {{ game.variantName|capitalize }}<br />
        {% trans "Time control" %} - {{ game.clockName }}<br />
        {% if game.isRated %}
            {% trans "This game is rated" %}<br />
        {% endif %}
    </div>
    <br /><br />
    <a class="rotate_board" href="{{ path("lichess_game", {"id": game.id, "color": player.opponent.color} ) }}">{% trans "Flip board" %}</a>
    <br /><br />
    <a class="lichess_replay_link" href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": player.color} ) }}">{% trans "Replay and analyse" %}</a>
    <br /><br />
    <a href="{{ path("lichess_homepage") }}"><strong>{% trans "Play a new game" %}</strong></a>
</div>
{% endblock %}
