<div class="forum_posts_list">
    {% for post in posts %}
    <div class="post" id="{{ post.number|raw }}">
        <div class="metas">
            {% if post.author %}
                <span class="authorName authenticated">{{ _view.lichess_user.linkUser(post.author)|raw }}</span>
            {% else %}
                <span class="authorName">{{ post.authorName|default("Anonymous") }}</span>
            {% endif %}
            <span class="createdAt">{{ _view.time.ago(post.createdAt)|raw }}</span>
            <a class="anchor" href="{{ _view.forum.urlForPost(post)|raw }}">#{{ post.number|raw }}</a>
        </div>
        <p class="message">
            {{ _view.lichess.userText(post.message)|raw }}
        </p>
    </div>
    {% endfor %}
</div>
