{% for post in posts %}
    <entry>
        <title>#{{ post.number|raw }}</title>
        <summary>{{ lichess_shorten(post.message) }}</summary>
        <author>{{ post.author|default("Anonymous") }}</author>
        <published>{{ post.createdAt|date("c") }}</published>
        <link rel="alternate">{{ forum_route_post(post, true )|raw }}</link>
    </entry>
{% endfor %}
