<h2 class="postNewTitle" id="reply">Reply to this topic</h2>
<form action="{{ path("herzult_forum_topic_post_create", {"categorySlug": topic.category.slug, "slug": topic.slug, "id": topic.id} ) }}#reply" method="post" novalidate>
    {{ form_errors(form.message) }}
    <label><span class="required">Message</span>{{ form_widget(form.message) }}</label>
    {% if form.authorName is defined %}
        <label><span>Author</span>{{ form_widget(form.authorName, {"attr": {"class": "authorName"}}) }}</label>
    {% endif %}
    {% include "LichessForumBundle:Post:captcha.html.twig" with {"form": form, "checkmate": checkmate} %}
    {{ form_rest(form) }}
    {{ form_errors(form) }}
    <input type="submit" class="submit button" value="Reply" />
    <a href="{{ path("herzult_forum_category_show", {"slug": topic.category.slug}) }}" style="margin-left:20px">{{ "Cancel"|trans }}</a>
</form>
