{% if fromUser is not defined %}{% set fromUser = none %}{% endif %}
{% for trial in trials %}
{% set game = trial.game %}
{% set firstPlayer = game.getPlayerByUserOrCreator(fromUser) %}
{% set fromPlayer = game.getPlayerByUser(fromUser) %}
<div class="game_row clearfix">
{{ lichess_game_mini(game, fromUser)|raw }}
<div class="infos">
{% if trial.guilty %}
<div class="trial_verdict trial_guilty">Guilty</div>
{% elseif trial.innocent %}
<div class="trial_verdict trial_innocent">Innocent</div>
{% endif %}
<b>
{{ lichess_date(game.updatedAt) }}
</b>-
{{ game.statusMessage|trans }}
, <span{% if fromPlayer %} class="{{ game.winner == fromPlayer ? "win" : "loss" }}"{% endif %}>{{ game.winner.color|capitalize ~ " is victorious"|trans }}</span>
<br /><br />
{% block players %}
<table class="game_players">
{% for player in [firstPlayer.opponent, firstPlayer] %}
<tr{% if player.user == trial.user %} class="trial_suspect"{% endif %}>
<td>{{ player.color|capitalize|trans }}</td>
<td>{{ lichess_link_player(player) }}</td>
{% if player.user == trial.user %}
<td class="trial_score">suspicion level = {{ trial.score }}%</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% endblock %}
<br />
{{ "Variant"|trans }}: {{ game.variantName }}
<br /><br />
{{ "Time control"|trans }}: {{ game.clockName }}
<br /><br />
{% if is_granted('ROLE_SUPER_ADMIN') %}
<a class="button" href="{{ path("lichess_trial_verdict", {"id": trial.id, "verdict": 0}) }}">Innocent</a>
<a class="button" href="{{ path("lichess_trial_verdict", {"id": trial.id, "verdict": 1}) }}">Guilty</a>
<br />
<br />
{% endif %}
<a href="{{ path("lichess_pgn_viewer", {"id": game.id, "color": game.creatorColor} ) }}">&gt;&gt; {{ "Replay and analyse"|trans }}</a>
</div>
</div>
{% else %}
- No recent game at the moment -
{% endfor %}
