{% extends "Lichess:Trial:list.html.twig" %}
{% block title %}{% trans "View %nb% trials resolved as guilty" with {"%nb%": nbGuilty} %} - Page {{ trials.currentPageNumber }}{% endblock %}
{% block list_type %}Trials resolved as guilty{% endblock %}
{% block list_menu %}
<a class="game_list" href="{{ path("lichess_trial_list_unresolved") }}">Unresolved ({{ nbUnresolved }})</a>
<a class="game_list" href="{{ path("lichess_trial_list_innocent") }}">Resolved as innocent ({{ nbInnocent }})</a>
{% endblock %}
