{% extends "Lichess:Trial:list.html.twig" %}
{% block title %}{% trans "View %nb% unresolved trials" with {"%nb%": nbUnresolved} %} - Page {{ trials.currentPageNumber }}{% endblock %}
{% block list_type %}Unresolved trials{% endblock %}
{% block list_menu %}
<a class="game_list" href="{{ path("lichess_trial_list_guilty") }}">Resolved as guilty ({{ nbGuilty }})</a>
<a class="game_list" href="{{ path("lichess_trial_list_innocent") }}">Resolved as innocent ({{ nbInnocent }})</a>
{% endblock %}
