{% extends "LichessBundle:Translation:layoutTranslation.twig" %}
{% block title %}Translations list{% endblock %}
{% block content %}
<div class="translation_list">
{% for translation in translations %}
    <h2>{{ translation.numericId }} - {{ translation.createdAt|date("d/m/Y H:i") }} {{ manager.languageName(translation.code) }} by {{ translation.author|default("Anonymous") }}</h3>
    <p>{{ translation.comment }}</p>
    <pre class="translation_pre">{{ translation.yaml }}</pre>
{% endfor %}
</div>
{% endblock %}
