{% set pagination %}{{ pagerfanta(topics, 'default', pagerOptions) }}{% endset %}
{% set newTopicUrl %}{{ path("herzult_forum_category_topic_new", {"slug": category.slug} ) }}{% endset %}

<div class="bar top clearfix">
    <div class="pagination">{{ pagination|raw }}</div>
    <a href="{{ newTopicUrl|raw }}" class="action button">Create a new topic</a>
</div>

<table class="forum_topics_list">
    <thead>
        <tr>
            <th>Topics</th>
            <th class="right">Views</th>
            <th class="right">Replies</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
    {% for topic in topics %}
        <tr class="{{ loop.index is odd ? "odd": "even" }}">
            <td class="subject"><a href="{{ forum_urlForTopic(topic) }}">{{ topic.subject }}</a></td>
            <td class="right">{{ topic.numViews|raw }}</td>
            <td class="right">{{ topic.numPosts-1 }}</td>
            <td class="last_post"><a href="{{ forum_urlForPost(topic.lastPost) }}">{{ lichess_date(topic.lastPost.createdAt) }}</a><br />by {{ topic.lastPost.authorName|default("Anonymous") }}</td>
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <td><a class="delete" href="{{ path('herzult_forum_topic_delete', { "id": topic.id }) }}">Delete</a></td>
            {% endif %}
            <td class="feed"><a href="{{ forum_urlForTopicAtomFeed(topic) }}" title="{{ "Follow this topic"|trans }}" class="forum_feed_link"></a></a>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="bar bottom clearfix">
    <div class="pagination">{{ pagination|raw }}</div>
    <a href="{{ newTopicUrl|raw }}" class="action button">Create a new topic</a>
</div>
