{% extends "HerzultForumBundle::layout.html.twig" %}
{% block title %}{{ category.name }} - New topic{% endblock %}
{% block content %}
<ol class="crumbs">
    <li><a href="{{ path("herzult_forum_index") }}">Forum</a></li>
    <li><a href="{{ forum_urlForCategory(category) }}">{{ category.name }}</a></li>
    <li><h1>New topic</h1></li>
</ol>
<br />
<h1>New topic</h1>
<form action="{{ path("herzult_forum_category_topic_create", {"slug": category.slug} ) }}" method="post" novalidate>
    <label style="display: none"><span class="required">Category</span> {{ form_widget(form.category) }}</label>
    {{ form_errors(form.subject) }}
    <label><span class="required">Subject</span> {{ form_widget(form.subject, {"attr": {"class": "subject"}}) }}</label>
    {{ form_errors(form.firstPost) }}
    <label><span class="required">Message</span> {{ form_widget(form.firstPost.message) }}</label>
    {% if form.firstPost.authorName is defined %}
    <label><span>Author</span> {{ form_widget(form.firstPost.authorName, {"attr": {"class": "authorName"}}) }}</label>
    {% endif %}
    {% include "LichessForumBundle:Post:captcha.html.twig" with {"form": form.firstPost, "checkmate": checkmate} %}
    {{ form_widget(form.firstPost.checkmateId) }}
    {{ form_errors(form) }}
    <button class="submit button" type="submit">Create the topic</button>
</form>
{% endblock %}
