{% extends "ForumBundle::layout.twig" %}
{% block title %}{{ category.name|raw }} - New topic{% endblock %}
{% block content %}
<ol class="crumbs">
    <li><a href="{{ path("forum_index") }}">Forum</a></li>
    <li><a href="{{ _view.forum.urlForCategory(category)|raw }}">{{ category.name|raw }}</a></li>
    <li><h1>New topic</h1></li>
</ol>
<br />
<h1>New topic</h1>
<form action="{{ path("forum_category_topic_create", {"slug": category.slug} ) }}" method="post">
    <label><span class="required">Category</span> {{ form.category|render }}</label>
    <label><span class="required">Subject</span> {{ form.subject|render({"class": "subject"}) }}</label>
    <label><span class="required">Message</span> {{ form.firstPost.message|render }}</label>
    {% if form.firstPost.authorName %}
        <label><span>Author</span> {{ form.firstPost.authorName|render({"class": "authorName"}) }}</label>
    {% endif %}
    <button class="submit button" type="submit">Create the topic</button>
</form>
{% endblock %}
