{% extends "HerzultForumBundle::layout.html.twig" %}
{% block title %}{{ topic.subject }}{% if posts.currentPage > 1 %} - Page {{ posts.currentPage }}{% endif %}{% endblock %}
{% block description %}{{ topic.subject }} - {{ topic.category.description|raw }}{% endblock %}
{% block feed_link %}
<link href="{{ forum_urlForTopicAtomFeed(topic) }}" type="application/atom+xml" rel="alternate" title="{{ topic.subject }} - Lichess Forum" />
{% endblock %}
{% block content %}
{% set pagination %}{{ pagerfanta(posts, 'default', {'proximity': 3, 'routeName': 'herzult_forum_topic_show', 'routeParams': {'categorySlug': topic.category.slug, 'slug': topic.slug}}) }}{% endset %}
{% set replyUrl = forum_urlForTopicReply(topic) %}
{% set isLastPage = forum_topicNumPages(topic) == posts.currentPage %}

<div class="topic">

    <a href="{{ forum_urlForTopicAtomFeed(topic) }}" title="{{ "Follow this topic"|trans }}" class="forum_feed_link"></a>
    <ol class="crumbs">
        <li><a href="{{ path("herzult_forum_index") }}">Forum</a></li>
        <li><a href="{{ forum_urlForCategory(topic.category) }}">{{ topic.category.name }}</a></li>
        <li><h1>{{ topic.subject }}</h1></li>
    </ol>

    <div class="bar top clearfix">
        <div class="pagination">{{ pagination|raw }}</div>
        <a href="{{ replyUrl }}" class="action button">Reply to this topic</a>
    </div>

    {% include "HerzultForumBundle:Post:list.html.twig" with {"posts": posts} %}

    {% if isLastPage %}
        <div class="topicReply">
            {% render "HerzultForumBundle:Post:new" with {"topic": topic, "form" : form ? form : none} %}
        </div>
    {% endif %}

    <div class="bar bottom clearfix">
        <div class="pagination">{{ pagination|raw }}</div>
        {% if not isLastPage %}
            <a href="{{ replyUrl }}" class="action button">Reply to this topic</a>
        {% endif %}
    </div>

</div>
{% endblock %}
