{% extends "ForumBundle::layout.twig" %}
{% block title %}{{ topic.subject }}{% endblock %}
{% block description %}{{ topic.subject }} - {{ topic.category.description|raw }}{% endblock %}
{% block feed_link %}
<link href="{{ _view.forum.urlForTopicAtomFeed(topic)|raw }}" type="application/atom+xml" rel="alternate" title="{{ topic.subject|raw }} - Lichess Forum" />
{% endblock %}
{% block content %}
{% set pagination %}{% include "LichessBundle::pagination.twig" with {"pager": posts.pages, "url": _view.forum.urlForTopic(topic)} %}{% endset %}
{% set replyUrl = _view.forum.urlForTopicReply(topic) %}
{% set isLastPage = _view.forum.getTopicNumPages(topic) == posts.currentPageNumber %}

<div class="topic">

    <a href="{{ _view.forum.urlForTopicAtomFeed(topic)|raw }}" title="{% trans "Follow this topic" %}" class="forum_feed_link"></a>
    <ol class="crumbs">
        <li><a href="{% path "forum_index" %}">Forum</a></li>
        <li><a href="{{ _view.forum.urlForCategory(topic.category)|raw }}">{{ topic.category.name|raw }}</a></li>
        <li><h1>{{ topic.subject }}</h1></li>
    </ol>

    <div class="bar top clearfix">
        <div class="pagination">{{ pagination|raw }}</div>
        <a href="{{ replyUrl }}" class="action button">Reply to this topic</a>
    </div>

    {% include "ForumBundle:Post:list.twig" with {"posts": posts} %}

    {% if isLastPage %}
        <div class="topicReply">
            {% render "ForumBundle:Post:new" with {"topic": topic} %}
        </div>
    {% endif %}

    <div class="bar bottom clearfix">
        <div class="pagination">{{ pagination|raw }}</div>
        {% if not isLastPage %}
            <a href="{{ replyUrl }}" class="action button">Reply to this topic</a>
        {% endif %}
    </div>

</div>
{% endblock %}
