{% extends "DoctrineUserBundle::layoutUser.twig" %}
{% block content %}
<div class="lichess_box signup_box">
    <span class="box_right_text">{% trans "Have an account?" %} <a class="toggle_signin">{% trans "Sign in" %}</a></span>
    <h1 class="lichess_title">{% trans "Sign up" %}</h1>
    <p class="explanation">
        {% trans "All you need is a username and a password." %}
    </p>
    <p class="explanation">
        It is <strong>not</strong> required to signup. You can play as <strong>anonymous</strong>.<br />
        Signup if you want to save your played games and have an ELO ranking.
    </p>
    {% form_theme form form.getOption('theme') %}
    <form action="{% path 'doctrine_user_user_create' %}" method="POST" class="signup">
        <ul>
            <li class="username">
                {{ form.username|render_label }}
                {{ form.username|render }}
                {{ form.username|render_errors }}
            </li>
            <li class="password">
                {{ form.password|render_label }}
                {{ form.password|render }}
                {{ form.password|render_errors }}
            </li>
            <li>
                <input type="submit" class="submit" value="{% trans "Sign up" %}" />
            </li>
        </ul>
        {{ form|render_hidden }}
    </form>
</div>
{% endblock %}
