{% extends "DoctrineUserBundle::layoutUser.twig" %}
{% block content %}
<div class="lichess_box user_show">
    <h1 class="lichess_title">{{ user.username }}</h1>
    {% if _view.doctrine_user_security.isUser(user) %}
        {% include "DoctrineUserBundle:User:dashboard.twig" %}
    {% endif %}
    <p>
        Games: {{ critic.nbGames|default("0") }}<br >
        Wins: {{ critic.nbWins|default("0") }} - {{ critic.percentWins|default("0") }}%<br >
        Defeats: {{ critic.nbDefeats|default("0") }}<br >
        Draws: {{ critic.nbDraws|default("0") }}<br >
    </p>
</div>
{% endblock %}
