{% extends "DoctrineUserBundle::layoutUser.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/lichess/css/gamelist.css' %}
{% endblock %}
{% block title %}{{ user.usernameWithElo }}{% endblock %}
{% block content %}
<div class="lichess_box user_show">
    <img class="elo_history" src="{{ _view.lichess_user.eloChartUrl(user, "300x120") }}" width="300" height="120" alt="ELO history" />
    <h1 class="lichess_title">{{ user.usernameWithElo }}</h1>
    <div class="stats">
        {% trans "Rank" %}: {{ critic.rank }} / {{ critic.nbUsers }}<br />
        {% trans "Games played" %}: <strong>{{ critic.nbGames|default("0") }}</strong><br />
        {% trans "%nb_wins% wins, %nb_losses% losses and %nb_draws% draws" with ["%nb_wins%": critic.nbWins, "%nb_losses%": critic.nbLosses, "%nb_draws%": critic.nbDraws] %}<br />
        Registered {{ _view.time.ago(user.createdAt) }}<br />
        {% trans "Best ELO" %}: {{ user.maxElo }}, {{ _view.time.ago(user.maxEloDate) }}
    </div>
    {% set pagination %}{% include "LichessBundle::pagination.twig" with ["pager": games.pages, "url": pagerUrl] %}{% endset %}
    <div class="games">
        <div class="pager pager_top">{{ pagination|raw }}</div>
        {% include "LichessBundle:Game:listWidget.twig" with ["games": games] %}
        <div class="pager pager_bottom">{{ pagination|raw }}</div>
    </div>
</div>
{% endblock %}
