{% extends "DoctrineUserBundle::layoutUser.twig" %}
{% block assets %}
{% parent %}
{% stylesheet 'bundles/lichess/css/gamelist.css' %}
{% endblock %}
{% block content %}
<div class="lichess_box user_show">
    <h1 class="lichess_title">{{ user.usernameWithElo }}</h1>
    {% if _view.doctrine_user_security.isUser(user) %}
        {% include "DoctrineUserBundle:User:dashboard.twig" %}
    {% endif %}
    <p>
        Games: {{ critic.nbGames|default("0") }}<br >
        Wins: {{ critic.nbWins|default("0") }} - {{ critic.percentWins|default("0") }}%<br >
        Defeats: {{ critic.nbDefeats|default("0") }}<br >
        Draws: {{ critic.nbDraws|default("0") }}<br >
    </p>
    <img src="{{ _view.lichess_user.eloChartUrl(user, "200x125") }}" width="200" height="125" alt="ELO history" />
    <div class="games">
        <h2>Recent games</h2>
        {% include "LichessBundle:Game:listWidget.twig" with ["games": games] %}
        <div class="pager pager_bottom">
            {% include "LichessBundle::pagination.twig" with ["pager": games.pages, "url": pagerUrl] %}
        </div>
    </div>
</div>
{% endblock %}
