<table class="categories">
    <thead>
        <tr>
            <th>Categories</th>
            <th class="right">Topics</th>
            <th class="right">Posts</th>
            <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr class="{{ loop.index is odd ? "odd" : "even" }}">
            <td class="subject">
                <a href="{{ forum_urlForCategory(category)|raw }}">{{ category.name|raw }}</a>
                <h2 class="description">{{ category.description|raw }}</h2>
            </td>
            <td class="right">{{ category.numTopics|raw }}</td>
            <td class="right">{{ category.numPosts|raw }}</td>
            <td class="last_post"><a href="{{ forum_urlForPost(category.lastPost)|raw }}">{{ time_diff(category.lastPost.createdAt)|raw }}</a><br />by {{ category.lastPost.authorName|default("Anonymous") }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
