<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ category.name|raw }} - Lichess Forum</title>
    <subtitle>{{ category.description|raw }}</subtitle>
    <id>{{ forum_urlForCategory(category, true) }}</id>
    <link href="{{ forum_urlForCategory(category, true) }}" rel="alternate" />
    <link href="{{ url("forum_index") }}" />
    <updated>{{ category.lastPost.createdAt|date("c") }}</updated>
    {% render "Forum:Topic:list" with {"category": category } %}
</feed>
